{% extends 'includes/index.html' %}

{% block main %}
    <div class="container">
        {% include 'map/search_bar.html' %}
        <div id="map" style="height: 500px;" class="mt-2"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        mapboxgl.accessToken = "{{ MAPBOX_ACCESS_TOKEN }}";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [37.6562, 55.7753],
            zoom: 10
        });
        {% for task in tasks %}
            var marker = new mapboxgl.Marker({
                color: "{{ task.category.color }}"
            }).setLngLat([{{ task.lon }}, {{ task.lat }}])
                .setPopup(new mapboxgl.Popup().setHTML("<a href='{% url 'task_view' task.id %}'>{{ task.name }}</a>"))
                .addTo(map);
        {% endfor %}

    </script>
{% endblock %}
