{% extends 'includes/index.html' %}

{% block main %}
<style>
    body{
        width: 17vw;
    }
</style>
    <div class="container" style="left: 2vw; width: 15vw; height: 50vh; margin-left: 0%">
        {% include 'map/search_bar.html' %}
        <div id="map" style="height: 110vh; width: 102vw; left: -3vw; top: -57vh; z-index: -1" class="mt-2"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
var center = [37.6562, 55.7753]
    mapboxgl.accessToken = "{{ MAPBOX_ACCESS_TOKEN }}";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: center,
            zoom: 10
        });
        {% for task in tasks %}
            var marker = new mapboxgl.Marker({
                color: "{{ task.category.color }}"
            }).setLngLat([{{ task.lon }}, {{ task.lat }}])
                .setPopup(new mapboxgl.Popup().setHTML("<a href='{% url 'task_view' task.id %}'>{{ task.name }}</a>"))
                .addTo(map);
        {% endfor %}

        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        }

        function error(err) {}

        const geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            marker: false,
            placeholder: 'Поиск',
        });

        map.addControl(geocoder);

        map.on('load', () => {
            map.addSource('single-point', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': []
        }
        });

        map.addLayer({
            'id': 'point',
            'source': 'single-point',
            'type': 'circle',
            'paint': {
                'circle-radius': 10,
                'circle-color': '#448ee4'
            }
        });

        geocoder.on('result', (event) => {
            map.getSource('single-point').setData(event.result.geometry);
        });
    });

        function success(pos) {
          const crd = pos.coords;
          center = [crd.longitude, crd.latitude]
          map.setCenter(center)
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    </script>
{% endblock %}
