<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card m-auto">
            <div class="card-body">
                <div class="card-title">
                    <h3>
                        Поиск
                    </h3>
                </div>
                <form method="get">
                    <div class="row row-cols-auto mt-4">
                        <div class="col">
                            <div class="input-group rounded">
                              <input
                                      name="category"
                                      id="category"
                                      class="form-control"
                                      placeholder="Категория"
                                      aria-describedby="category-addon"
                                      value="{{ request.GET.category }}"
                              />
                            </div>
                        </div>
                        <div class="col">
                            <input
                                    name="from_date"
                                    type="date"
                                    id="from-date"
                                    class="form-control"
                                    value="{{ request.GET.from_date }}"
                            >
                            <label for="from-date" class="form-label">
                                От какой даты
                            </label>
                        </div>

                        <div class="col">
                            <input
                                    name="to_date"
                                    id="to-date"
                                    type="date"
                                    class="form-control"
                                    value="{{ request.GET.to_date }}"
                            >
                            <label for="to-date" class="form-label">
                                До какой даты
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary  m-2" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </div>
</div>