.event{
    position: relative;
    width: 100vw;
    height: 10vw;
}

.line{
    position: absolute;
    width: 100vw;
    height: 4px;
    background-color: black;
    display: inline-block;
}

.event_name{
    position: absolute;
    color: black;
    font-size: 2vw;
    left: 8vw;
    top: 4vw;
    max-width: 40vw;
}

.show_on_map{
    position: absolute;
    color: #767676;
    font-size: 1vw;
    left: 8vw;
    top: 7vw;
}

.category{
    position: absolute;
    color: #767676;
    font-size: 1vw;
    top: 4.25vw;
    left: 50vw;
    max-width: calc(80vw - 10vh);
}

.date{
    position: absolute;
    color: black;
    right: 10vh;
    top: 3vw;
    max-width: 13vw;
    font-size: 1.25vw;
    float: right;
}

.ended_event{
    background-color: #A8A8A888;
}
.end_date{
    position: absolute;
    color: black;
    right: 10vh;
    top: 4vw;
    max-width: 13vw;
    font-size: 1.25vw;
    float: right;
}