.event{
    position: relative;
    width: 100vw;
    height: 20vh;
}

.line{
    position: absolute;
    width: 100vw;
    height: 0.25vw;
    background-color: black;
    display: inline-block;
}

.event_name{
    position: absolute;
    color: black;
    font-size: 30px;
    left: 8vw;
    top: 40%;
    max-width: 40vw;
}

.show_on_map{
    position: absolute;
    color: #767676;
    font-size: 15px;
    left: 8vw;
    top: 60%;
}

.category{
    position: absolute;
    color: #767676;
    font-size: 2vh;
    top: 10%;
    right: 45vw;
    max-width: 30vw;
}

.date{
    position: absolute;
    color: black;
    right: 15vw;
    top: 40%;
    font-size: 15px;
    float: right;
}

.ended_event{
    background-color: #A8A8A888;
}
.end_date{
    position: absolute;
    color: black;
    right: 10vh;
    top: 4vw;
    max-width: 13vw;
    font-size: 1.25vw;
    float: right;
}