body{
    color: #F5F5F5;
}

.donate{
    position: absolute;
    width: 15vw;
    height: 100px;
    top: calc(10vh + 10vw - 50px);
    right: calc(10vh + 20vw + 50px);
    border-radius: 50px;
    border-style: none;
    background-color: #01575B;
    color: #F3F3F3;
    display: inline-block;
}

.avatar{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    top: 10vh;
    right: 5vw;
    background-color: #797979;
    display: inline-block;
}

.ava_img_def{
    position: absolute;
    max-width: 60%;
    left: 20%;
    top: 20%;
}

.ava_img{
    position: absolute;
    max-width: 100%;
}

.delete_ended{
    position: absolute;
    color: black;
    top: 45vh;
    right: 8vw;
    font-size: 20px;
}

.switch
{
width: 2vw;
height: 1vw;
background: #E5E5E5;
z-index: 0;
margin: 0;
padding: 0;
appearance: none;
border: node;
cursor: pointer;
position: absolute;
top: 46vh;
right: 5vw;
border-radius: 0.25vw;
-moz-border-radius:16px;
-webkit-border-radius:16px;
}

.switch:before
{
content: ' ';
position: absolute;
left: 1px;
width: 2vw;
height: 1vw;
background: #FFFFFF;
z-index: 1;
border-radius:16px;
-moz-border-radius:16px;
-webkit-border-radius:16px;
}

.switch:after
{
content: ' ';
height: 1vw;
width: 1vw;
border-radius: 1vw;
z-index: 2;
background: #FFFFFF;
position: absolute;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
left: 1px;
-webkit-box-shadow: 0 2px 5px #999999;
box-shadow: 0 2px 5px #999999;
}

.switchOn , .switchOn:before
{
background: #D9D9D9 !important;
}
.switchOn:after
{
left: 1vw !important;
}


.naming_div{
    max-height: 10vh;
}

.tg_span{
    position: absolute;
    background-color: #A5A5A5;
    top: 12vh;
    right: 50vw;
    height: 3vh;
    width: 3vh;
    border-radius: 1.5vh;
    display: inline-block;
    text-align: center;
}

.tg_btn{
    top: 0.1vh;
    position: relative;
}

.naming{
    position: absolute;
    color: black;
    top: 10vh;
    left: 8vw;
    font-size: 5vh;
    max-width: 50vw;
}

.bio{
    position: absolute;
    color: #797979;
    left: 8vw;
    top: 17vh;
    font-size: 2vw;
    max-width: 45vw;
    max-height: 10vh;
}

.edit{
    position: absolute;
    display: inline-block;
    width: 3vh;
    height: 3vh;
    border-radius: 1.5vh;
    border-style: none;
    left: 8vw;
    top: 26vh;
    background-color: #A5A5A5;
}

.edit_btn{
    position: absolute;
    color: white;
    left: 0.55vh;
    top: 0.6vh;
}

.awards{
    position: absolute;
    color: black;
    max-width: 45vw;
    top: 30vh;
    left: 8vw;
    font-size: 2vw;
}

.events{
    position: absolute;
    top: 44vh;
    left: 8vw;
    color: black;
}

.write{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    left: 8vw;
    top: calc(29vh + 10vw - 50px);
    background-color: #D9D9D9;
}

.events_divs{
    position: absolute;
    top: 51vh;
}