{% extends 'includes/form_for_tasks.html' %}

{% block form_title %}
    {% url 'task_create' as the_url %}
    {% if request.path == the_url %}
        Добавление задачи
    {% else %}
        Изменение задачи
    {% endif %}
{% endblock %}

{% block buttons %}
    {% url 'task_create' as the_url %}
    {% if request.path == the_url %}
        <button type="submit" class="btn btn-primary">Создать</button>
    {% else %}
        <button type="submit" class="btn btn-warning">Изменить</button>
    {% endif %}
{% endblock %}
