{% extends 'includes/form.html' %}

{% block form_title %}
    {% url 'task_create' as the_url %}
    {% if request.path == the_url %}
        Добавление задачи
    {% else %}
        Изменение задачи
    {% endif %}
{% endblock %}

{% block buttons %}
    {% url 'task_create' as the_url %}
    {% if request.path == the_url %}
        <button type="submit" class="btn btn-primary">Создать</button>
    {% else %}
        <button type="submit" class="btn btn-warning">Изменить</button>
    {% endif %}
    <div id="map" style="height: 350px;"></div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    mapboxgl.accessToken = "{{ MAPBOX_ACCESS_TOKEN }}";
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [37.6562, 55.7753],
        zoom: 10
    });
    var marker = new mapboxgl.Marker({
        color: "{{ form.category.color }}"
    })

    map.on('click', add_marker.bind(marker))

    function add_marker (event, marker) {
        console.log(marker);
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);
    }

</script>
{% endblock %}