{% extends 'includes/index.html' %}

{% block title %}
    Задача
{% endblock %}

{% block main %}
    <div class="container">
        <h2>{{ task.name }}</h2>
        <p>Описание: {{ task.description }}</p>
        <p>Время начала: {{ task.datetime }}</p>
        <p>Категория: <span style="color: {{task.category.color}}">{{ task.category.name }}</span></p>
        <p>Требуемое кол-во волонтёров: {{ task.max_volunteer }}</p>
        {% if volunteers_number > 0 %}
        <p>На задаче уже <strong>{{ volunteers_number }} </strong>волонтёр(а)!</p>
        {% endif %}
    </div>
    <div id="map" style="height: 400px;"></div>
    {% if is_active_task %}
        {% if is_employer and belongs_to_user %}
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Удалить задачу" name="task_delete">
                <input class="btn btn-warning" type="submit" value="Изменить задачу" name="task_update">
            </form>
        {% endif %}
        {% if is_volunteer and not volunteer_on_task and volunteer_not_enough %}
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Присоединиться к задаче" name="task_join">
            </form>
        {% endif %}
        {% if is_volunteer and volunteer_on_task %}
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-secondary" type="submit" value="Уйти с задачи" name="task_leave">
            </form>
        {% endif %}
    {% else %}
        <p><strong>Задача уже неактивна</strong></p>
    {% endif %}

{% endblock %}

{% block js %}
    <script type="text/javascript">
    var center = [{{task_lon}}, {{task_lat}}]
    mapboxgl.accessToken = "{{ MAPBOX_ACCESS_TOKEN }}";
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: center,
            zoom: 11
        });

    var marker = new mapboxgl.Marker({
        color: "{{ task.category.color }}"
    }).setLngLat(center)
        .setPopup(new mapboxgl.Popup().setHTML("<a href='{% url 'task_view' task.id %}'>{{ task.name }}</a>"))
        .addTo(map);

    </script>
{% endblock %}
