{% extends 'includes/index.html' %}
{% load static %}
{% block title %}
VolunteerHunt
{% endblock %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<span class="grey_rect"></span>

<p class="greeting"><span class="'greeting_red">Приветствую</span> на <span
        class="greeting_red">Volunteer</span>Hunt!</p>
<img src="{% static 'img/homepage/hello.png' %}" class="hello">
<p class="number_text">В наших рядах уже <span class="number_text_red">{{ count_volunteers }}</span> волонтеров
    и <span class="number_text_red">{{count_employers}}</span> работодателей!</p>

<span class="very_grey_rect"></span>

<h2 class="fact we_are">Наши волонтеры помогают всемнуждающимся.</h2>
<h2 class="fact its_funny">Волонтерство - отличная возможность сделать мир лучше.</h2>
<img src="{% static 'img/homepage/drying.png' %}" class="drying">
<img src="{% static 'img/homepage/five.png' %}" class="five">

<span class="very_grey_rect_repeat">

</span>
{% endblock %}