{% extends 'includes/index.html' %}
{% load static %}
{% block title %}
VolunteerHunt
{% endblock %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<span class="grey_rect"></span>
<p class="greeting"><span class="'greeting_red">Приветствуем</span> на <span
        class="greeting_red">Volunteer</span>Hunt!</p>
<img src="{% static 'img/homepage/hello.png' %}" class="hello">
<p class="number_text">В наших рядах уже <span class="number_text_red">{{ count_volunteers }}</span> волонтеров
    и <span class="number_text_red">{{count_employers}}</span> работодателей!</p>

<span class="very_grey_rect"></span>

<div class="fact1">
    <img src="{% static 'img/homepage/drying.png' %}" class="drying">
    <h2 class="fact we_are">Наши волонтеры помогают всем нуждающимся.</h2>
</div>
<div class="fact2">
    <h2 class="fact its_funny">Волонтерство - отличная возможность сделать мир лучше.</h2>
    <img src="{% static 'img/homepage/five.png' %}" class="five">
</div>
<div class="main_info_block">
<styles>
    .site-footer{
        top: 112%;
    }
</styles>
    <span class="divinding_line"></span>

    <div>
        <p class="info_header"><span class="greeting_red">Volunteer</span>Hunt<img src="{% static 'img/logo.png' %}"
                                                                                   style="max-width: 30px; margin-left: 10px; margin-top: -3px">
        </p>
    </div>
    <div style="margin-top: 30px">
        <p class="about_field">Что такое VolunteerHunt? Всё очень просто: первое правило нашего
            клуба никогда не упоминатьь наш клуб, второе правило нашего клуба - нигде не упоминать название нашего
            клуба, правило третье - кто только вступил в VolunteerHunt - примет бой...</p>
    </div>
    <div style="margin-top: 30px">
        <p class="about_header">Немного о нас</p>
    </div>
    <div style="margin-top: 30px">
        <p class="about_field">МЫ всего лишь прикольный сайтик на просторах интернета, что помогает
            людям найти волонтерство по душе, а работадателям волонтеров, вот такая доля наша, вот такая доля ваша,
            вместе весело живем, вместе же же споем: когда мне было 12 лет как-то раз я сделал сам себе минет, я
            изогнулся что было сил и за хуй больно сам себя у-ку-сил...</p>
    </div>

    <span class="line" style="margin-top: 30px"></span>

    <div>
        <p style="color: black" class="info_header"><span class="greeting_red">Volunteer</span>Hunt Awards<img
                src="{% static 'img/homepage/awards.png' %}"
                style="max-width: 30px; margin-left: 10px; margin-top: -3px"></p>

    </div>

    <div>
        <div>
            <p class="award_text"><img src="{% static 'img/homepage/worker.png' %}"
                                       style="max-width: 20px; margin-right: 10px; margin-top: -3px">Наибольшое
                количество эвентов посещенных <span
                        class="greeting_red">{волонтером}</span></p>
        </div>
        <div>
            <p class="award_text"><img src="{% static 'img/homepage/five.png' %}"
                                       style="max-width: 20px; margin-right: 10px; margin-top: -3px">Наибольшее
                количество эвентов проведенных <span
                        class="greeting_red">работадателем - {{ biggest_number_of_tasks_employer }}</span></p>
        </div>
        <div>
            <p class="award_text"><img src="{% static 'img/homepage/people.png' %}"
                                       style="max-width: 20px; margin-right: 10px; margin-top: -3px">Самый популярный
                <span class="greeting_red">эвент -
                    <a href="{% url 'task_view' most_popular_event.id %}">{{most_popular_event}}</a></span></p>
        </div>
        <div>
            <p class="award_text"><img src="{% static 'img/homepage/animals.png' %}" style="max-width: 20px; margin-right:
                10px; margin-top: -3px">
                <span class="greeting_red">{{most_valuable_employer}} - работодатель</span>
                с наибольшим количеством
                эвентов в
                поддерку друзей наших меньших</p>
        </div>
    </div>
    <span class="very_grey_rect_repeat"></span>
</span>
    {% include 'includes/footer.html' %}
</div>
{% endblock %}