<header class="nav_bar" style="position: fixed">
    <div class="menu">
        <a href="{% url 'map' %}"><i class='bx bx-map-alt menu_boxes bx-md'></i></a>
        <a href="{% url 'task_create' %}"><i class='bx bx-location-plus menu_boxes bx-md'></i></a>
        <a href="{% url 'users-profile' %}"><i class='bx bx-face menu_boxes bx-md'></i></a>
        <a href="{% url 'homepage' %}"><i class='bx bx-home-alt-2 menu_boxes bx-md'></i></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><i class='bx bx-log-out menu_boxes bx-md'></i></a>
        {% endif %}
    </div>
    <div class="btn-group">
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}">
            <button class="reg_btn_left">Войти</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="reg_btn_right">Зарегатся</button>
        </a>
        {% endif %}
    </div>
</header>