{% extends 'includes/index.html' %}
{% block main %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h4>{{ user.email }} </h4>
        {% if active_tasks %}
            <h4>Мои работы:</h4>
        {% else %}
            <h4>Работ нет</h4>
        {% endif %}
        <mdb-list-group>
            {% for task in active_tasks %}
            <a href="{% url 'task_view' task.id %}">
            <mdb-list-group-item>
              <div>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-2 h5">{{ task.name }}</h5>
                  <small>{{task.datetime}}</small>
                </div>
                <p class="mb-2">
                  {{task.description}}
                </p>
              </div>
            </mdb-list-group-item>
            </a>
            {% endfor %}
        </mdb-list-group>
        <div style="background-color: #aaaaaa;">
        <mdb-list-group>
            {% for task in not_active_tasks %}
                <a href="{% url 'task_view' task.id %}">
                <mdb-list-group-item>
                  <div>
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-2 h5">{{ task.name }}</h5>
                      <small>{{task.datetime}}</small>
                    </div>
                    <p class="mb-2">
                      {{task.description}}
                    </p>
                  </div>
                </mdb-list-group-item>
                </a>
            {% endfor %}
        </mdb-list-group>
        </div>
    </div>
{% endblock %}
