{% extends 'includes/index.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block css %}
    <link href="{% static 'css/events.css' %}" rel="stylesheet">
    <link href="{% static 'css/label_page.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<span class="avatar"><img src="user.avatar"></span>
<h4 class="delete_ended">убрать прошедшие</h4>
<label>
    <input type="checkbox" name="checkboxName" class="checkbox"/>
    <div class="switch"></div>
</label>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function()
{
$( ".switch" ).click(function(){
                $( ".ended_event" ).toggle();
                });

$('.switch').click(function()
{
$(this).toggleClass("switchOn");
});

});
</script>
<h1 class="naming">{{ user.username }}</h1>
<h4 class="bio">{{user.email}} {{user.first_name}} {{user.last_name}}</h4>
<h3 class="awards">Мы крутые!</h3>
<h1 class="events">Эвенты</h1>
<!--<button class="write"><img></button>-->
{% if active_tasks %}
<h4>Мои работы:</h4>
{% else %}
<h4>Работ нет</h4>
{% endif %}
    <div class="events_divs">
    {% for task in active_tasks %}
        <div class="event">
                <line class="line"></line>
                <h2 class="event_name">{{ task.name }}</h2>
                <a href="{% url 'task_view' task.id %}"><h4 class="show_on_map">показать на карте</h4></a>
            <h4 class="category">Уборка</h4>
                <h2 class="date">{{ task.datetime }}</h2>
        </div>
    {% endfor %}

    {% for task in not_active_tasks %}
        <div class="event ended_event">
            <line class="line"></line>
            <h2 class="event_name">{{ task.name }}</h2>
            <a href="{% url 'task_view' task.id %}"><h4 class="show_on_map">показать на карте</h4></a>
            <h4 class="category">Уборка</h4>
            <h2 class="date">{{ task.datetime }}</h2>
        </div>
    {% endfor %}
    </div>
{% endblock %}
